body  {
  margin: 0 auto;
  background-color: rgb(34, 31, 31);
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  background-color: white;
  .logo {
    margin: 2vh 2vh 2vh 6vh;
    img {
      height: 4vh;
    }
  }
  .links  {
    ul  {
      display: flex;
      margin-top: 0;
      list-style-type: none;
      li  {
        margin: 2vh 3vh 2vh 2vh;
        img  {
          height: 3vh;
        }
      }
    }
  }
}

.containerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 14vh 5vw 5vh 1vw;
  list-style-type: none;
  .card  {
    width: 100%;
    padding: 6px;
    .container-img  {
      position: relative;
      .image {
        width: 28vw;
      }
      .image:hover {
        transform: scale(1.05);
        opacity: 0.4;
        z-index: 300;
      }
    }
    .overlay  {
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      transform: translate(-50% -50%);
      .titleModal {
        color: white;
      }
      .textModal  {
        color: white;
        text-transform: lowercase;
      }
      :hover  {
        display: block;
      }
    }
  }
}

.containerModal {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    margin: -6vh;
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      :hover, :focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
      }
    }
    #titleModal {
      position: absolute;
    }
    ::first-letter  {
      color: rgb(204, 16, 16);
      font-size: 130%;
    }
    #textModal  {
      position: absolute;
    }
    .control  {
      display: none;
    }
  }
}